# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment Variables
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/